body {
  background: darken(grey, 30%);
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  margin: 0;
  @include animation(fadein 2s);
}

a {
  color: DarkGoldenRod;
  text-decoration: none;
  @include transition(all,0.3s);
  &:hover,
  &:focus {
    color: white;
  }
}

.about {
  background: darken(dimgrey, 20%);
  color: white;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  @include transition(all,.3s);
  .me {
    display: block;
    width: 70%;
    margin: 0 auto;
    h4 {
      font-family: 'Mrs Sheppards', cursive;
      font-size: 180%;
      line-height: 0;
    }
    p {
      line-height: 2rem;
    }
    a {
      border-bottom: 1px solid transparent;
      color: powderblue;
      @include transition(all, .3s);
      &:hover {
        border-color: powderblue;
      }
    }
  }
}

.about-height {
  max-height: 14rem;
  padding: 2rem;
}

.close {
  color: powderblue;
  cursor: pointer;
  float: right;
  font-size: 130%;
  margin-top: -2rem;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.col {
  flex: 1;
}

.card {
    background: rgba(black, .9);
    @include transition(all, 0.3s);
    &:hover {
      background: none;
    }
  .card-content {
    display: inline-block;
    width: calc(100vw / 3);
    height: calc(100vh /3);
    position: relative;
    z-index: -1;
    // fix for gap
    margin-bottom: -.3rem;
  }
  .card-nav {
    .fa-lg {
      font-size: 80%;
    }
    .fa {
      cursor: pointer;
    }
    background: rgba(dimgrey, .8);
    bottom: 0;
    padding: .3em;
    position: absolute;
    width: 100%;
  }
}

.avatar-card {
  left: calc(50% - 3em - 1px);
  top: calc(50% - 3em - 1px);
  position: fixed;
  text-align: center;
  z-index: 100;
  &:hover {
    nav {
      left: calc(50% - 13rem);
      width: 24rem;
      @include opacity(1,1);
    }
  }
  img {
    border: 2px solid white;
    cursor: pointer;
    @include border-radius(50%);
    @include square(6em);
  }
  nav {
    background: rgba(black, .9);
    border: 1px solid white;
    display: block;
    height: 1rem;
    width: 0;
    overflow: hidden;
    top: calc(40% - 1rem);
    left: 50%;
    padding: .6rem 1rem 1.3rem;
    position: absolute;
    z-index: -1;
    @include border-radius(3em);
    @include opacity(0, 0);
    @include transition(all,.3s);
    .half:first-child {
      float: left;
    }
    .half:last-child {
      float: right;
    }
    .fa {
      padding: .2em;
    }
    a {
      text-transform: none;
    }
  }
}

.fade-in {
  @include opacity(0,0);
  @include animation(fadein ease-in 1);
  @include animation-fill-mode(forwards);
  @include animation-duration(1s);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
